name: Release

on: 
  push:
    tags:
    - '*'

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest]
    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v4
    - uses: DeLaGuardo/setup-clojure@13.4
      with:
        cli: latest
    - uses: graalvm/setup-graalvm@v1.4.3
      with:
        # Java version. See examples of supported syntax in the README file.
        java-version: 25
    
    - name: compile uberjar
      run: clojure -T:build uber
    - name: compile native-image
      run: native-image -jar ./target/*.jar --initialize-at-build-time bmm-${{matrix.os}}
    - name: release
      uses: ncipollo/release-action@v1
      with:
        artifacts: "./bmm-${{matrix.os}}*"
        allowUpdates: true
